<div class="app-brand demo">
	<a href="~/Default/Index" class="app-brand-link">
		<img class="brand-logo" alt="Chameleon admin logo" style="height:40px" src="~/my_import/icon/traversal.png" />
		<span class="app-brand-text demo menu-text fw-bolder ms-2" style="text-transform:capitalize">Traversal</span>
	</a>

	<a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
		<i class="bx bx-chevron-left bx-sm align-middle"></i>
	</a>
</div>