<ul class="menu-inner py-1">
	<li class="menu-item">
		<a href="/Admin/Dashboard/Index/" class="menu-link">
			<i class="menu-icon tf-icons bx bxs-home"></i>
			<div data-i18n="Analytics">Panel</div>
		</a>
	</li>
	<li class="menu-item">
		<a href="/Admin/Announcement/Index/" class="menu-link">
			<i class="menu-icon tf-icons bx bxs-bell-ring"></i>
			<div data-i18n="Analytics">Duyurular</div>
		</a>
	</li>
	<li class="menu-item">
		<a href="/Admin/DestinationCQRS/Index/" class="menu-link">
			<i class="menu-icon tf-icons bx bxs-map-pin"></i>
			<div data-i18n="Analytics">Seyehat Noktaları</div>
		</a>
	</li>
	<li class="menu-item">
		<a href="/Admin/User/Index/" class="menu-link">
			<i class="menu-icon tf-icons bx bxs-user"></i>
			<div data-i18n="Analytics">Kayıtklı Kullanıcılar</div>
		</a>
	</li>
	@*	<li class="menu-item">
	<a href="/Admin/VisitorApi/Index" class="menu-link">
	<i class="menu-icon tf-icons bx bxs-user"></i>
	<div data-i18n="Analytics">Api Ziyaretçi Listesi</div>
	</a>
	</li>
	*@
	<li class="menu-item">
		<a href="/Admin/BookingHotelSearch/Index" class="menu-link">
			<i class="menu-icon tf-icons bx bxs-hotel"></i>
			<div data-i18n="Analytics">Otel Arama</div>
		</a>
	</li>
	<li class="menu-item">
		<a href="/Admin/GuideMediatR/Index/" class="menu-link">
			<i class="menu-icon tf-icons bx bxs-group"></i>
			<div data-i18n="Analytics">Rehberler</div>
		</a>
	</li>
	<li class="menu-item">
		<a href="/Excel/Index/" class="menu-link">
			<i class="menu-icon tf-icons bx bxs-report"></i>
			<div data-i18n="Analytics">Raporlar</div>
		</a>
	</li>
	<li class="menu-item">
		<a href="/Admin/Mail/Index/" class="menu-link">
			<i class="menu-icon tf-icons bx bx-mail-send"></i>
			<div data-i18n="Analytics">E-Posta Gönder</div>
		</a>
	</li>
	<li class="menu-item">
		<a href="/Admin/Role/UserList/" class="menu-link">
			<i class="menu-icon tf-icons bx bx-log-in-circle"></i>
			<div data-i18n="Analytics">Rol Atama</div>
		</a>
	</li>
	<li class="menu-item">
		<a href="/Admin/Role/Index/" class="menu-link">
			<i class="menu-icon tf-icons bx bx-right-indent"></i>
			<div data-i18n="Analytics">Rol İşlemleri</div>
		</a>
	</li>
	<li class="menu-item">
		<a href="/Admin/Comment/Index/" class="menu-link">
			<i class="menu-icon tf-icons bx bxs-message-square"></i>
			<div data-i18n="Analytics">Yorumlar</div>
		</a>
	</li>
	<li class="menu-item">
		<a href="/Admin/ContactUs/Index/" class="menu-link">
			<i class="menu-icon tf-icons bx bxs-message-alt"></i>
			<div data-i18n="Analytics">Bize Ulaşın Mesajları</div>
		</a>
	</li>
	<li class="menu-item">
		<a href="/Admin/ApiExchange/Index/" class="menu-link">
			<i class="menu-icon tf-icons bx bx-transfer-alt"></i>
			<div data-i18n="Analytics">Güncel Kur Bilgileri</div>
		</a>
	</li>
	<li class="menu-item">
		<a href="~/Default/Index/" class="menu-link">
			<i class="menu-icon tf-icons bx bx-log-out"></i>
			<div data-i18n="Analytics">Çıkış Yap</div>
		</a>
	</li>
</ul>