<div class="best-rooms py-5">
    <div class="container py-md-5">
        <div class="ban-content-inf row">
            <div class="maghny-gd-1 col-lg-6">
                <div class="maghny-grid">
                    <figure class="effect-lily border-radius  m-0">
                        <img class="img-fluid" src="~/Traversal-Liberty/assets/images/g10.jpg" alt="" />
                        <figcaption>
                            <div>
                                <h4>Galler Seyehati</h4>
                                <p>3 Gece, 4 Gün</p>
                                <p>Başlangıç Fiyatı: 1250$</p>
                            </div>

                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="maghny-gd-1 col-lg-6 mt-lg-0 mt-4">
                <div class="row">
                    <div class="maghny-gd-1 col-6">
                        <div class="maghny-grid">
                            <figure class="effect-lily border-radius">
                                <img class="img-fluid" src="~/Traversal-Liberty/assets/images/g9.jpg" alt="" />
                                <figcaption>
                                    <div style="margin-bottom:25px">
                                        <h4>Mısır Seyehati</h4>
                                        <p>3 Gece, 4 Gün</p>
                                        <p>Başlangıç Fiyatı: 1500$</p>
                                    </div>

                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="maghny-gd-1 col-6">
                        <div class="maghny-grid">
                            <figure class="effect-lily border-radius">
                                <img class="img-fluid" src="~/Traversal-Liberty/assets/images/g8.jpg" alt="" />
                                <figcaption>
                                    <div style="margin-bottom:25px">
                                        <h4>Roma Seyehati</h4>
                                        <p>3 Gece, 4 Gün</p>
                                        <p>Başlangıç Fiyatı: 675$</p>
                                    </div>

                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="maghny-gd-1 col-6 mt-4">
                        <div class="maghny-grid">
                            <figure class="effect-lily border-radius">
                                <img class="img-fluid" src="~/Traversal-Liberty/assets/images/g7.jpg" alt="" />
                                <figcaption>
                                    <div style="margin-bottom:25px">
                                        <h4>Maldivler Seyehati</h4>
                                        <p>3 Gece, 4 Gün</p>
                                        <p>Başlangıç Fiyatı: 3000$</p>
                                    </div>

                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="maghny-gd-1 col-6 mt-4">
                        <div class="maghny-grid">
                            <figure class="effect-lily border-radius">
                                <img class="img-fluid" src="~/Traversal-Liberty/assets/images/g6.jpg" alt="" />
                                <figcaption>
                                    <div style="margin-bottom:25px">
                                        <h4>İsviçre Seyehati</h4>
                                        <p>3 Gece, 4 Gün</p>
                                        <p>Başlangıç Fiyatı: 2500$</p>
                                    </div>

                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>