@model CreateDestinationCommand
@{
	ViewData["Title"] = "AddDestination";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>Seyehat Noktaları Ekleme</h2>
<form method="post">
	<label>Seyehat Şehri Adı*</label>
	<input type="text" asp-for="City" class="form-control" />
	<br />
	<label>Seyehat Fiyatı</label>
	<input type="text" asp-for="Price" class="form-control" />
	<br />
	<label>Seyehat Süresi</label>
	<input type="text" asp-for="DayNight" class="form-control" placeholder="X Gece, (X+1) Gün" />
	<br />
	<label>Seyehat Rehberi ID*</label>
	<input type="text" asp-for="GuideID" class="form-control" />
	<br />
	<label>Seyehat Tarihi</label>
	<input type="text" asp-for="Date" class="form-control" placeholder="YYYY-AA-GG" />
	<br />
	<label>Seyehat Paragrafı-1</label>
	<textarea cols="30" rows="5" class="form-control" asp-for="Details1"></textarea>
	<br />
	<label>Seyehat Paragrafı-2</label>
	<textarea cols="30" rows="5" class="form-control" asp-for="Details1"></textarea>
	<br />
	<label>Seyehat Kapak Fotoğrafı Adresi</label>
	<input type="text" asp-for="Image" class="form-control" placeholder="Önerilen Boyut: [400X450]" />
	<br />
	<label>Seyehat İçerik Fotoğrafı Adresi</label>
	<input type="text" asp-for="Image2" class="form-control" placeholder="Önerilen Boyut: [400X450]" />
	<br />
	<label>Seyehat Duvar Fotoğrafı Adresi</label>
	<input type="text" asp-for="CoverImage" class="form-control" placeholder="Önerilen Boyut: [1434X621]" />
	<br />
	<button class="btn btn-outline-primary">Tur Rotasını Kaydet</button>
</form>