@model ForgetPasswordViewModel
@{
	Layout = "~/Views/Shared/_UILayout.cshtml";
}
<head>
	<title>Traversal | Pparolamı Unuttum</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- header-->
	<link rel="icon" type="image/png" href="~/sign_in/images/icons/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="~/sign_in/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="~/sign_in/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="~/sign_in/vendor/animate/animate.css">
	<link rel="stylesheet" type="text/css" href="~/sign_in/vendor/css-hamburgers/hamburgers.min.css">
	<link rel="stylesheet" type="text/css" href="~/sign_in/vendor/select2/select2.min.css">
	<link rel="stylesheet" type="text/css" href="~/sign_in/css/util.css">
	<link rel="stylesheet" type="text/css" href="~/sign_in/css/main.css">
	<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
	<link href="//fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">
	<link href="//fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="~/Traversal-Liberty/assets/css/style-liberty.css">
	<!-- header-->
</head>
<body>
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="container" style="text-align:center">
					<h1 style="color:black"><b>Parola Yenileme Sayfası</b></h1>
					<br /><br />
					<form method="post">
						<label>E-Posta Adresinizi Giriniz</label>
						<input type="text" class="form-control" asp-for="Mail" />
						<br />
						<button style="background-color:#FF1654" class="login100-form-btn" placeo>Parola Yenileme Linki Gönder</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- script-->
	<script src="~/sign_in/vendor/jquery/jquery-3.2.1.min.js"></script>
	<script src="~/sign_in/vendor/bootstrap/js/popper.js"></script>
	<script src="~/sign_in/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="~/sign_in/vendor/select2/select2.min.js"></script>
	<script src="~/sign_in/vendor/tilt/tilt.jquery.min.js"></script>
	<script>
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
	<script src="~/sign_in/js/main.js"></script>
	<!-- script-->
</body>