@model VisitorViewModel
@{
    ViewData["Title"] = "UpdateVisitor";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Api ile Ziyaretçi Güncelleme</h1>
<br />
<form method="post">

    <input type="hidden" asp-for="VisitorID" />

    <label>Ziyaretçi İsmi</label>
    <input type="text" class="form-control" asp-for="VisitorName" />
    <br />
    <label>Ziyaretçi Soyismi</label>
    <input type="text" class="form-control" asp-for="VisitorSurname" />
    <br />
    <label>Ziyaretçi Mail Adresi</label>
    <input type="text" class="form-control" asp-for="Mail" />
    <br />
    <label>Ziyaretçi Şehri</label>
    <input type="text" class="form-control" asp-for="VisitorCity" />
    <br />
    <label>Ziyaretçi Ülkesi</label>
    <input type="text" class="form-control" asp-for="VisitorCountry" />
    <br />
    <button class="btn btn-outline-success">Ziyaretçiyi Güncelle</button>
</form>
